* { margin: 0; padding: 0; box-sizing: border-box;}

$borderStyle:1px solid black;
$bgColor:#1B94DD;

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1B94DD;
    cursor: pointer;
    overflow: hidden;
    .code-box {
        height: 46vh;
        padding: 10px;
        background-color: white;
        border: $borderStyle;
        #code {
            overflow: hidden;
            height: 40vh;
            position: relative;
        }
        .button {
            position: absolute;
            top: 20px;
            right: 25px;
            display: flex;
            flex-direction: column;
            div {
                margin-top: 15px;
                border: 1px solid #1B94DD;
                padding: 8px;
                text-align: center;
                font-size: 14px;
                background-color: #ecf5ff;
                color: black;
                border-radius: 5px;
                &:hover {
                    background-color: $bgColor;
                }
                &.active {
                    transform: scale(1.1);
                    background-color: $bgColor;
                }
            }
        }
    }
    .page-box {
        flex: 1;
        height: 60vh;
        border: $borderStyle;
    }
}














